// Locals : 
// - post

%article.post
  %header {{ post.title }}
  %a{ :href => "/posts/{{ post._slug }}" }
    %img.post__thumbnail{ :src => "http://placehold.it/100x100" }
  .post__content
    %time{ datetime: "{{ post.updated_at }}" } {{ post.updated_at }}
    {{ post.text | truncate: '200' }}
    %a{ :href => "/posts/{{ post._slug }}", class: "post__readmore" } More →