---
title: I'm a Cliché - Home
published: true
---
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8" lang="en">
/[if IE 8] <html class="no-js lt-ie9" lang="en">
/ Consider adding a manifest.appcache: h5bp.com/d/Offline
/ [if gt IE 8]><!
%html.no-js{:lang => "en"}
  / <![endif]
  %head
    %meta{ :charset => "utf-8" }
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }
    %meta{ :name => "viewport", :content => "initial-scale=1, width=device-width" }    
    %meta{ :content => "{{ page.meta_description }}", :name => "description" }
    %meta{ :content => "{{ page.meta_keywords }}", :name => "keywords" }

    %title {{ page.title }}
    
    {{ 'screen.css'| stylesheet_tag: 'screen' }} 
    {{ 'vendor/zepto.1.0.min'| javascript_tag }} 
    {{ 'toggle'| javascript_tag }} 

    %script
      :plain
        //modernzer etc
    
    {{ 'baseliner'| javascript_tag }}
    {{ 'debug-grid'| javascript_tag }}
    %script
      // Baseline debug purpose
      window.onload = function() { baseliner = new Baseliner(24); }

  %body
    
    // Development only
    #grid-debug Toggle grid

    // Nav
    %header.site-head
      %a.site-head__logo{ href: "/" } I'm a cliché
      %a.site-head__toggle{ href: "#", class: "js-toggle", "data-target" => ".site-head__nav", "data-parent" => ".site-head" } MENU
      %nav.site-head__nav
        %ul
          %li
            %a{ href: "/" } HOME
          %li
            %a{ href: "/about" } ABOUT
          %li
            %a{ href: "/news" } NEWS
          %li
            %a{ href: "/artists" } ARTISTS
          %li
            %a{ href: "/releases" } RELEASES
          %li
            %a{ href: "/contact" } CONTACT

    {% block 'content' %}
    
    // Last five releases
    %section.section.l-container
      %header.section-header {{ 'latest_releases' | translate }}
      {% for release in contents.releases %}
      {% include release-preview-home with release %}
      {% endfor %}

    // Last news
    %section.section.l-container
      %header.section-header {{ 'news' | translate }}
      {% for post in contents.posts %}
      {% include post-preview with post %}
      {% endfor %}
      
    // Next events / releases
    %section.section.l-container
      %header.section-header {{ 'next' | translate }}
      %ul
        {% for event in contents.events %}
        %li
          {% if event.link %}
          %a{ href: "{{ event.link }}" }
            %time{ datetime: "{{ event.date }}" } {{ event.date }} :
            {{ event.title }}
          {% else %}
          %time{ datetime: "{{ event.date }}" } {{ event.date }} :
          {{ event.title }}
          {% endif %}
        {% endfor %}
        
    // Newsletter form
    %section.section.l-container
      %header.section-header {{ 'newsletter' | translate }}

      %form.newsletter
        %input{ name: "email", class: "newsletter__email", placeholder: "your email" }
        %input{ type: "submit", class: "newsletter__submit", value: "OK"  }
    
    // Edit service
    %section.section.l-container
      %header.section-header {{ 'edit-service' | translate }}
  
      %a{ href: "http://edit-service.com", class: "edit-service__image" }
        %img{ src: "{% editable_file 'edit-service-image', hint: 'Edit service image', priority: 1 %} http://placehold.it/300x100 {% endeditable_file %}" }
      .edit-service__description
        {% editable_long_text "edit-service-text", hint: "Edit service text", priority: 1 %}
        %p 
          Every two weeks, 
          %a{ href: "http://edit-service.com" } I'm a Cliche Edit Service 
          gives away an unreleased edit produced by members of the crew or beloved friends.
        {% endeditable_long_text %}

    // Links
    %section.section.l-container
      %header.section-header {{ 'social-links' | translate }}
      %ul
        %li
          %a{ href: "http://www.facebook.com/pages/IM-A-CLICHE/138670535421", class: "icon--facebook" }
            Facebook
        %li
          %a{ href: "https://twitter.com/#!/ImAClicheLabel", class: "icon--twitter" }
            Twitter
        %li
          %a{ href: "http://www.youtube.com/imaclichelabel", class: "icon--youtube" }
            Youtube
        %li
          %a{ href: "https://soundcloud.com/imacliche/", class: "icon--soundcloud" }
            Soundcloud
        %li
          %a{ href: "http://official.fm/imacliche", class: "icon--officialfm" }
            Official FM


    {% endblock %}
    
    %footer.site-footer © {{ today | localized_date: '%Y' }} - {{ 'im-a-cliche' | translate }}
  
  